<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mis.ncyu.quickchoice">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 加入AppController，讓app開機自動啟動AppController.class -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="登入" />
        <activity
            android:name=".Logined_menu"
            android:label="主畫面" />
        <activity
            android:name=".sign_new"
            android:label="註冊" />
        <activity
            android:name=".My_card"
            android:label="@string/mycard" />
        <activity
            android:name=".connectdb"
            android:label="資料庫連線測試" />
        <activity android:name=".news" />
        <activity android:name=".Add_new_card" />
        <activity android:name=".Chose_card_type" />
        <activity android:name=".key_in_card" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".content_my_card"></activity>
    </application>

</manifest>