<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mis.ncyu.quickchoice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Permission to vibrate — recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Permission to use camera — required -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Camera features — recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!--
       The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
       Google Maps Android API v2, but you must specify either coarse or fine
       location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 設定議定要有OpenGL ES version 2才能下載本APP -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.welcome_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.MainActivity"
            android:label="登入" />
        <activity
            android:name=".login.sign_new"
            android:label="註冊" />
        <activity android:name=".news" />
        <activity
            android:name=".home.Add_new_card"
            android:label="選擇銀行" />
        <activity
            android:name=".Chose_card_type"
            android:label="選擇卡片類型" />
        <activity
            android:name=".home.key_in_card"
            android:label="輸入卡片資訊" />
        <activity
            android:name=".login.ForgetActivity"
            android:label="忘記密碼" />
        <activity
            android:name=".home.content_my_card"
            android:label="卡片資訊" />
        <activity
            android:name=".home.new_home2"
            android:label="主畫面"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1OhIpKRCdC9lZe8gXRgGg_T5W2euUj1o" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Choice_recommend_type" />
        <activity
            android:name=".recommend.compute_recommend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recommend.key_in_recommend"
            android:label="輸入推薦資料" />
        <activity
            android:name=".recommend.content_result"
            android:label="推薦內容" />
        <activity
            android:name=".home.content_history"
            android:label="歷史內容" />
        <activity android:name=".home.edit_user_data" />
        <activity android:name=".recommend.activity_recommend" />
        <activity android:name=".hos_map" />
        <activity
            android:name=".home.context_coperation"
            android:label="優惠內容"
            />
    </application>

</manifest>